<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestv.monitor.dao.MsgReceiverMapper">
	<resultMap id="BaseResultMap" type="com.bestv.monitor.model.MsgReceiver">
		<id column="ID" property="ID" jdbcType="INTEGER" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="Phone" property="phone" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
		<result column="IsValid" property="isValid" jdbcType="BIT" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="LastSendTime" property="lastSendTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, UserName, Phone, Email, IsValid, CreateTime,
		LastSendTime
	</sql>
	<select id="selectAll" resultMap="BaseResultMap">
		select *
		from msg_receiver
	</select>
	<delete id="deleteByIDs" parameterType="java.lang.String">
		DELETE FROM msg_receiver where id in
		<foreach item="rid" collection="array" open="(" separator=","
			close=")">
			#{rid,mode=IN,jdbcType=INTEGER}
		</foreach>
	</delete>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from msg_receiver
		where ID = #{ID,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		msg_receiver
		where ID = #{ID,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.bestv.monitor.model.MsgReceiver">
		<selectKey resultType="java.lang.Integer" keyProperty="ID"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into msg_receiver (UserName, Phone, Email,
		IsValid, CreateTime,
		LastSendTime
		)
		values (#{userName,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{isValid,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
		#{lastSendTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.bestv.monitor.model.MsgReceiver">
		<selectKey resultType="java.lang.Integer" keyProperty="ID"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into msg_receiver
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				UserName,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="email != null">
				Email,
			</if>
			<if test="isValid != null">
				IsValid,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="lastSendTime != null">
				LastSendTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				#{isValid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastSendTime != null">
				#{lastSendTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bestv.monitor.model.MsgReceiver">
		update msg_receiver
		<set>
			<if test="userName != null">
				UserName = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				Phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				Email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				IsValid = #{isValid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				CreateTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastSendTime != null">
				LastSendTime = #{lastSendTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{ID,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bestv.monitor.model.MsgReceiver">
		update
		msg_receiver
		set UserName = #{userName,jdbcType=VARCHAR},
		Phone =
		#{phone,jdbcType=VARCHAR},
		Email = #{email,jdbcType=VARCHAR},
		IsValid =
		#{isValid,jdbcType=BIT},
		CreateTime = #{createTime,jdbcType=TIMESTAMP},
		LastSendTime = #{lastSendTime,jdbcType=TIMESTAMP}
		where ID =
		#{ID,jdbcType=INTEGER}
	</update>
</mapper>